.hero {
    margin: 300px auto 200px;
    @media (max-width: 1000px) {
        margin: 300px auto 100px;
    }
    @media (max-width: 600px) {
        margin: 300px auto 50px;
    }
    .div {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        @media(max-width:1000px){
            height: 200px;
        }
        @media(max-width:400px){
            height: 240px;
        }
    }
    h1 {
        font-size: 51px;
        color: #111827;
        font-family: 'Epilogue';
        text-align: center;
        font-weight: 600;
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
        margin-top: 40px;
        span {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            text-decoration: none;
            justify-content: center;
            border-radius: 1e3px 1e3px 1e3px 1e3px;
            border-width: 0;
            background-color: #6b0aa8;
            font-size: 16px;
            color: #fff;
            line-height: 24px;
            width: auto;
            font-weight: 500;
            text-shadow: none;
        }
    }
}
