.news {
    padding: 100px 0;
    margin: 0;
    h1 {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: #6b0aa8;
        font-family: "Epilogue";
    }
    .cards {
        a{
            text-decoration: none;
        }
        >div{
            padding: 10px;
        }
        .card {
            border-radius: 15px;
            overflow: hidden;
            &:hover img {
                transform: scale(1.1);
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 250px;
                transition: 0.3s;
            }
            .text {
                padding: 30px;
                h3 {
                    font-size: 25px;
                    font-weight: 500;
                    font-family: "Epilogue";
                    margin-top: 20px;
                }
                span {
                    font-weight: 400;
                    font-size: 13px;
                    color: #978f8f;
                }
            }
        }
    }
}




.dd{
    align-items: center;
    justify-content: center;
    display: flex;
}
.cspan {
    align-items: center;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
    &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background: #6b0aa8;
        left: -30px;
        top: 10px;
    }
    &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background: #6b0aa8;
        right: -31px;
        top: 10px;
    }
    span {
        margin-bottom: 3px;
        background: #a80a7e;

        overflow: hidden;
        width: 0.5rem;
        height: 0.5rem;
        display: inline-block;
        position: relative;
        transform: rotate(45deg);
    }
}
