.aboutt {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    background-size: cover !important;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
        top: 0;
        background:#980aa89e
    }
}

.textt {
    svg {
        width:25px;
        transform: translateX(-3px);
        color: #fff !important;
    }
    z-index: 88;
    position: relative;
}

.icon {
    margin-top: 20px;
    border: 1px solid rgba(59, 26, 97, 0.2) !important;
    background: rgba(21, 17, 17, 0.4) !important;
    margin-bottom: 1rem;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    padding: 1.3rem 1.4rem;
    border-radius: 50%;
}
