@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");




body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}



.swiper-slide-active {
  filter: brightness(1) !important;
}

.swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 2.5px;
  margin-right: 5px;
  border-radius: 0;
  background-color: #fff !important;
  opacity: .3;
  transition: opacity .4s;
}

.swiper-pagination-bullet-active {

  opacity: 1 !important;

}



.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  width: 40px !important;
  height: 40px !important;
  margin-top: -20px;
  border-radius: 50px;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: none;
  color: #fff !important;
  background: rgba(0, 0, 0);
  opacity: .6;
  transition: opacity .4s;
  z-index: 2;
  display: flex;


}

.swiper-button-prev {
  left: 50px !important;
}

.swiper-button-next {
  right: 50px !important;
}

.swiper-button-next:hover {
  opacity: .9;
}

.swiper-button-prev:hover {
  opacity: .9;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  width: 10px !important;
  height: 22px !important;
  font-size: 22px !important;
  font-weight: 700;
}


@media(max-width:800px) {
  .container {
    max-width: 100%;
  }
}